global
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
    log     global
    log     stdout  format raw  local0  info
    mode    tcp
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend gateway
    bind *:6379
    mode tcp
    
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend redis-backend-1 if { req_ssl_sni -i redis-1.acme.com }
    use_backend redis-backend-2 if { req_ssl_sni -i redis-2.acme.com }


backend redis-backend-1
    server redis-server-1 172.28.1.4:6379

backend redis-backend-2
    server redis-server-2 172.28.1.5:6379
